.content {
   margin: 0 auto;
   text-align: center;
}
.heading {
    color: black;
    margin: 0;
}
.link {
    margin: 5%;
    color: green;
    text-decoration: unset;
    font-weight: initial;
    font-size: large;
}