.content {
   margin: 0 auto;
   padding: 1.45rem 1.0875rem;
   text-align: center;
}
.heading {
    color: black;
    margin: 0;
}
.link {
    margin: 5%;
    color: red;
    text-decoration: unset;
}